[submodule "ini_to_properties"]
	path = ini_to_properties
	url = git@github.com:cyrille-blanchet-1974/ini_to_properties.git
	branch = main
[submodule "grep"]
	path = grep
	url = git@github.com:cyrille-blanchet-1974/grep.git
	branch = main
[submodule "wait"]
	path = wait
	url = git@github.com:cyrille-blanchet-1974/wait.git
	branch = main
[submodule "wc"]
	path = wc
	url = git@github.com:cyrille-blanchet-1974/wc.git
	branch = main
[submodule "Addini"]
	path = Addini
	url = git@github.com:cyrille-blanchet-1974/Addini.git
	branch = main
[submodule "SearchAndInsert"]
	path = SearchAndInsert
	url = git@github.com:cyrille-blanchet-1974/SearchAndInsert.git
	branch = main
[submodule "AppendIni"]
	path = AppendIni
	url = git@github.com:cyrille-blanchet-1974/AppendIni.git
	branch = main
[submodule "SearchAndReplace"]
	path = SearchAndReplace
	url = git@github.com:cyrille-blanchet-1974/SearchAndReplace.git
	branch = main
[submodule "rust_synch"]
	path = rust_synch
	url = git@github.com:cyrille-blanchet-1974/rust_synch.git
	branch = main
